<section class="presentacion">
    <div class="caja-central">

       <div class="caja-cara">
           <img class="cara" src="../../../assets/img/foto.jpg" alt="Foto Nicolas Castellini">                           
           <h5>{{persona.nombre}} {{persona.apellido}}</h5>
           <h6>- Full Stack Developer -</h6>           
       </div>  

       <div class="caja-presentacion">
           <div>  
               <div class="hola">
                   <h2>Hola!</h2>     
               </div>               
               <p class="nota-presentacion">
                Cómo va? Mi nombre es Nicolas y estás viendo mi Portfolio Web, mi primer proyecto de Desarrollo web. Espero que a partir de ahora puedas conocer algo de mi y de mis conocimientos. 👉<a href="#sobremi">Ver</a>
                   <br>
                   <img  src="../../../assets/img/dibujo.jpg" style="width: 100%;" class="dibujo">
               </p>
           </div>                    
       </div>
    </div>
  </section>