<div class="footer">
    <div>    
        <h2>Redes</h2>
    </div>    
    <div class="redes">
      <div>
        <a href="http://www.linkedin.com/in/nicolas-roberto-castellini" target="_blank">
            <img  src="../../../assets/img/linkedin.png"  class="red-social" alt="">
        </a>
      </div>         
      <div>
        <a href="https://www.instagram.com/nicolasrcastellini/" target="_blank">
            <img src="../../../assets/img/instagram.png" class="red-social" alt="">
        </a>
      </div>
      <div>
        <a href="https://github.com/YoProgramo2022?tab=repositories" target="_blank">
            <img src="../../../assets/img/Github.png" class="red-social" alt="">
        </a>
      </div>
    </div>
    <a class="estilo" href= "#">@Nicolas Castellini</a>
    </div>
    