div{    
    display: flex;
    min-height: 50px;
    background-color: rgb(12, 165, 236);
    align-items: center;
    justify-content: space-between;   
}

@media(max-width:700px){

    div{
        flex-direction: column;
    }
     
    redes-menu{
        padding: 10px 0px;
    }

}