<div class="contacto" id="contacto" action="https://formsubmit.co/nicolasrcastellini@gmail.com" method="POST">       
    <h2>Contacto</h2>
    <div class="formulario1">              
          <input id="nombre"   type="text" class="form-control" placeholder="Nombre">                         
          <input id="apellido"   type="text" class="form-control" placeholder="Apellido">               
    </div>
    <div class="area-de-texto">          
       <textarea id="mensaje"   class="texto" placeholder="Mensaje"></textarea>
    </div>       
   <div>            
       <input id="enviarcorreo"  type="submit" value="Enviar" class="btn btn-light">
    </div>  
</div>
