<div class="sobre-mi" id="sobremi">
    <div class="container">
        <div class="row ">
              <div class="col-2"></div>                                          
              <div class="col-8 text-center"><h2>Sobre mí</h2></div>
              <div class="col-2"></div>
         </div>
    </div>
</div>


<div class="nota-sobre-mi">
    <div class="container">
           <div class="row">
             <div class="col-2"></div> 
             <div class="col-8">
                     <p>Soy estudiante autodidacta de programación y desde Febrero 2020 curso la carrera de Ingeniero en Sistemas de Informacion en la Universidad Nacional Del Sur en la Ciudad de Bahia Blanca. Ademas, en los ultimos meses he realizado algunos cursos online por mi cuenta ademas de participar en los Cursos de Programacion Auspiciados por el Ministerio de Producion Nacional llamados Argentina Programa. En mis tiempos libres me gusta Leer, ver Series y Peliculas.</p></div>                 
              <div class="col-2"></div>
        </div>  
    </div> 
</div> 