<div class="container">
    <div class="row">
          <div class="col-2"></div>                                          
          <div class="col-8 text-center"><h2>Aptitudes</h2></div>
          <div class="col-2"></div>
     </div>
  </div> 

  <div class="container"> 
    <div class="row">
    <div class="col-2"></div> 
        <div class="col-8">
                <p> Estas son algunas de las tecnologías de las que tengo conocimientos y algunas experiencias:</p></div>
          
    <div class="col-2"></div> 
  </div>

   <div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]= "70"
            [showUnits]="false"
            [imageSrc]="'../assets/img/html.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"    
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'rgb(12, 165, 236)'"
            [innerStrokeColor]="'rgb(12, 165, 236)'"
            [animation]="true"
            [animationDuration]="600"
       ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [showUnits]="false"
            [imageSrc]="'../assets/img/CSS.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="70"    
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'rgb(12, 165, 236)'"
            [innerStrokeColor]="'rgb(12, 165, 236)'"
            [animation]="true"
            [animationDuration]="600"
       ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [showUnits]="false"
            [imageSrc]="'../assets/img/js.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"    
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'rgb(12, 165, 236)'"
            [innerStrokeColor]="'rgb(12, 165, 236)'"
            [animation]="true"
            [animationDuration]="600"
       ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [showUnits]="false"
            [imageSrc]="'../assets/img/java.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"    
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'rgb(12, 165, 236)'"
            [innerStrokeColor]="'rgb(12, 165, 236)'"
            [animation]="true"
            [animationDuration]="600"
       ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [showUnits]="false"
            [imageSrc]="'../assets/img/Pascal.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"    
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'rgb(12, 165, 236)'"
            [innerStrokeColor]="'rgb(12, 165, 236)'"
            [animation]="true"
            [animationDuration]="600"
       ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [showUnits]="false"
            [imageSrc]="'../assets/img/Github.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"    
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'rgb(12, 165, 236)'"
            [innerStrokeColor]="'rgb(12, 165, 236)'"
            [animation]="true"
            [animationDuration]="600"
       ></circle-progress>
     </div>
  </div>
